<div id="department-number" data-department-number="<%= @department.id %>"></div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="container">
    	<div class="row">
    		<div class="col-lg-10">
        <h2><%= @department.display_name %></h2>
        <ol class="breadcrumb">
	        <li>
	            <a href="/">Home</a>
	        </li>
	        <li>
	            <a href="/departments">Departments</a>
	        </li>
	        <li class="active">
	            <strong><%= @department.display_name %></strong>
	        </li>
    	</ol>
	</div>
    	</div>
    </div>
</div>    

<div class="wrapper wrapper-content animated fadeInRight">
    <div class="container">

        <div class="row">
            <div class="col-md-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>EPP Spending Percent (%) By Year</h3>
                    </div>
                    <div class="ibox-content">
                        <div id="spending-line-chart"></div>
                    </div>
                    <div class="ibox-footer">
                        <br>
                        <h2></h2>
                    </div>                    
                </div>
            </div>

            <div class="col-md-6">
                <div class="tabs-container">
                    <ul class="nav nav-tabs">
                        <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">All</a></li>
                        <% for i in 2012..Date.today.year %>
                            <li class=""><a data-toggle="tab" href=<%= "#tab-#{i}" %> aria-expanded="false"><%= i %></a></li>                                             
                        <% end %>                        
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane active">
                            <div class="panel-body">
                                <div id="total-donut-chart" data-chart-year="ALL" class="donut-chart"></div>
                                <h2 style="text-align: center;"><strong>Total: </strong><%= number_to_currency @department.total_spending %></h2>
                            </div>
                        </div>
                        <% for i in 2012..Date.today.year %>
                            <div id=<%= "tab-#{i}" %> class="tab-pane">
                                <div class="panel-body">
                                    <div id=<%= "total-donut-chart-#{i}" %> data-chart-year="<%= i %>" class="donut-chart" ></div>
                                    <h2 style="text-align: center;"><strong>Total: </strong><%= number_to_currency @department.total_spending_by_year(i) %></h2>
                                </div>
                            </div>                        
                        <% end %>
                    </div>
                </div>
            </div>
        </div>   
<br>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h3>Potential EPP Contract Matches</h3>
                    </div>
                    <div class="ibox-content">
                        <table class="footable table table-striped" id="purchase-table" data-filter="#filter" data-page-size="10" data-limit-navigation="10"> 
                            <thead>
                                <tr>
                                    <th>Purchase Order Number</th>
                                    <th>Purchase Date</th>
                                    <th>Item Name</th>
                                    <th>Acquisition Method</th>
                                    <th>Total Price</th>
                                    <th>Possible Contract Match</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% @purchases.each do |purch| %>
                                    <tr>
                                        <td><%= purch.purchase_order_number %></td>
                                        <td><%= purch.purchase_date.to_s %></td>
                                        <td><%= purch.item_name %></td>
                                        <td><%= purch.acquisition_method %></td>
                                        <td><%= number_to_currency purch.total_price %></td>
                                        <td style="width: 35%;"><%= render_potential_matches(purch.potential_contract_matches).html_safe %></td>
                                    </tr>
                                <% end %>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="6">
                                        <ul class="pagination pull-right">
                                        </ul>
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>   

    </div>
</div>

<%content_for :javascript do %>
    <script type="text/javascript">

    $(function() {
        var departmentId = $("#department-number").attr("data-department-number");
        var chartStore = {};

        var handleDonutChart = function(tabId) {
            console.log(tabId);
            var donutContainer = $(tabId).find(".donut-chart");
            if (typeof chartStore[tabId] === "undefined") {

                $.get("/charts", 
                    {
                        entity_type: "department", 
                        chart_type: "donut", 
                        entity_id: departmentId, 
                        chart_year: donutContainer.attr('data-chart-year')
                    }, 
                    function(data){

                        chartStore[tabId] = Morris.Donut({
                            element: donutContainer,
                            data: data,
                            resize: true,
                            colors: ['#990000', '#1ab394', '#CC8080'],
                            formatter: function(y, data) {
                                return accounting.formatMoney(y);
                            }
                        });   
                    }
                );
            } else {
                chartStore[tabId].redraw();
            }   
        }

        $.get("/charts", 
            {entity_type: "department", chart_type: "line", entity_id: departmentId}, 
            function(data){

                var graphData = [];
                data.forEach(function(record) {
                    graphData.push({
                        year: record.year.toString(),
                        value: Math.floor(record.value * 100) / 100
                    });
                });

                Morris.Line({
                    element: 'spending-line-chart',
                    data: graphData,
                    xkey: 'year',
                    ykeys: ['value'],
                    resize: true,
                    lineWidth: 4,
                    labels: ['Value'],
                    lineColors: ['#1ab394'],
                    pointSize: 5,
                    xLabels: "year",
                    yLabelFormat: function(y) {
                        return y.toString() + "%"
                    }
                });


                $("#spending-line-chart").find("circle").css("cursor", "pointer").on("click", function(e){ 
                    var xVal = $(this).attr("cx");
                    year = $("#spending-line-chart").find("text[x='"+ xVal +"']").find("tspan").html(); 
                    $("a[href='#tab-"+year+"']").click();
                });
            }
        );

        $(document).on('shown.bs.tab', function (e) {
            var tabId = $(e.target).attr('href');
            handleDonutChart(tabId);
        });

        handleDonutChart("#tab-1");
        
        $('#purchase-table').footable();


    });
    </script> 
<%end %>