<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                <i class="fa fa-reorder"></i>
            </button>
            <a href="#" class="navbar-brand">GreenBuyer</a>
        </div>        
           
    </nav>
</div>
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="container">
        <div class="row">
            <div class="col-lg-10">
                <h1>Welcome to <span style="color: #1ab394 !important;"><strong>GreenBuyer</strong></span>!</h1>
                <ol class="breadcrumb">
                    <li>
                        <p>GreenBuyer links state department purchase order data with “Environmentally Preferable Purchasing” (EPP) contract data, providing transparent data for managers and the public on state department purchasing, and helping staff improve on their department’s performance and meet EPP purchasing goals.</p>
                    </li>
                </ol>
            </div>
        </div>
    </div>
</div>    

<div class="wrapper wrapper-content -bg animated fadeInRight">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <h1>GreenBuyer is coming soon...</h1>
                        <hr>
                        <img src="/home_screenshot.png" class="img-responsive" alt="" />
                    </div>
                </div>
            </div>

        </div>          
    </div>
</div>